aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
pytgcalls==3.0.0
pykeyboard
pyrogram==2.0.00
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
numpy
youtube-search
youtube-search-python==5.3.1
git+https://github.com/Team-Alisha/yt-dlp@master
numpy

